.main {
  display: flex;
  justify-content: space-around;
  width: 90%;
  border-bottom: 0.5px #bfd3f0 solid;
  margin-top: 5%;
  .buttonItem {
    &.Active {
      .stageIndex {
        color: white;
        background-color: pink;
      }
    }
    width: 25%;
    display: flex;
    align-items: center;
    .stageLabel {
      font-size: small;
      margin-left: 3%;
    }
    .stageIndex {
      &.done {
        color: green;
        background-color: #ecf3fe;
      }
      display: flex;
      justify-content: center;
      align-items: center;
      color: #9fa1b1;
      background-color: #f9f8fb;
      width: 25px;
      height: 25px;
      border-radius: 5px;
    }
  }
}
