.main {
  width: 100%;
  height: 90%;
  .stageLabel {
    margin: 5% 0 5% 0;
  }
  .forms {
    $columnGap: 6%;
    height: 35%;
    display: grid;
    grid-template-columns: (50% - $columnGap/2) (50% - $columnGap/2);
    grid-template-rows: 40% 40%;
    grid-row-gap: 25%;
    grid-column-gap: $columnGap;
  }
}

@media (max-width: 530px) {
  .main {
    margin-top: 5%;
    .forms {
      width: 100%;
      grid-template-columns: 100%;
      grid-template-rows: 40% 40% 40% 40%;
      grid-row-gap: 25%;
    }
  }
}
