@use "./../../../../../styles/consts.scss";
.main {
  border-radius: 15px;
  box-shadow: -1px 3px 10px 0px rgba(0, 0, 0, 0.1);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 90%;
  border-radius: 15px;
  display: flex;

  .photo {
    position: relative;
    width: 35%;
    border-radius: 15px;
    min-width: 300px;

    img {
      border-radius: 15px 0 0 15px;
    }
  }
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 65%;
    .stageTitle {
      align-self: flex-start;
      margin: 3% 0 2% 5%;
    }
    .children {
      height: 90%;
      width: 90%;
    }
    .submitBtnDiv {
      width: 90%;
      height: 10%;
      display: flex;
      justify-content: flex-end;
      margin-bottom: 5%;

      .submitBtn {
        &.disabled {
          background-color: rgb(237, 197, 204);
        }
        box-shadow: -1px 3px 10px 0px rgba(0, 0, 0, 0.1);
        color: white;
        border: none;
        border-radius: 5px;
        background-color: rgb(235, 160, 172);
        height: 100%;
        width: 30%;
      }
      .submitBtn:hover {
        transform: 2s;
        background-color: pink;
        cursor: pointer;
      }
    }
  }
}

@media (max-width: consts.$breakpoint-laptops) {
  .main {
    width: 100%;
    .content {
      width: 100%;
    }
  }
}

@media (max-width: consts.$breakpoint-tablet) {
  .main {
    width: 100%;
  }
}
@media (max-width: consts.$breakpoint-phones) {
  .main {
    height: 100%;
    width: 100%;
    .photo {
      display: none;
    }
    .content {
      width: 100%;
      .submitBtnDiv {
        .submitBtn {
          width: 50%;
          height: 70%;
        }
      }
    }
  }
}
