.main {
  height: 100%;
  .inputLabel {
    &.error {
      color: red;
    }
    padding: 0;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: small;
  }
  .inputDiv {
    height: 90%;
    display: flex;
    align-items: center;
    position: relative;
    .errorIcon {
      color: red;
      position: absolute;
      right: 10px;
      height: 90%;
    }
    input:focus {
      border: none;
      outline: 2px solid #bfd3f0;
    }
    .input {
      &.error {
        background-color: #fff2f2;
        border: 1px solid red;
      }
      border-radius: 10px;
      border: none;
      outline: none;
      padding-left: 5%;
      border: 1px solid rgb(114, 111, 111);
      width: 100%;
      height: 100%;
    }
  }
}
