.main {
  &:hover {
    background-color: #bfd3f0;
    cursor: pointer;
  }
  &.PicInIt {
    padding: 0;
  }
  position: absolute;
  height: 400px;
  width: 400px;
  border: none;
  outline: none;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(0, -50%);
  .ImageWrapper:hover .label {
    background-color: red;
  }
  .DefaultIcon {
    position: absolute;
    margin: 0;
    height: 70px;
    width: 50px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .label {
    position: absolute;
    margin: auto;
    top: 60%;
    left: 50%;
    width: 60%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    z-index: 10;
    p {
      margin: 0%;
    }
    .BrowseOption {
      text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
      margin-left: 1%;
    }
  }
  .ImageWrapper {
    .ProfileImage {
      overflow: "hidden";
      border-radius: 50%;
    }
  }
}
